@import 'bootstrap/dist/css/bootstrap.css';
@import 'bootstrap-vue/dist/bootstrap-vue.css';
@import url('https://fonts.googleapis.com/css2?family=Alexandria:wght@100..900&display=swap');
:root {
  --chess-lighter: #FFFFFF;
  --chess-darker: #404040;
  --chess-accent: #FFCD18;
  --chess-text: #E8E8E8;
  --font-family: alexandria 

}

li{
  list-style: none;
}


