@import 'bootstrap/dist/css/bootstrap.css';
@import 'bootstrap-vue/dist/bootstrap-vue.css';
@import url('https://fonts.googleapis.com/css2?family=Alexandria:wght@100..900&display=swap');

/*DEBUG*/
* {
  box-sizing: border-box;
  border: 1px dashed black;
}

/*UTILITIES*/
:root {
  --chess-lighter: #FFFFFF;
  --chess-darker: #404040;
  --chess-accent: #FFCD18;
  --chess-text: #E8E8E8;
}
*{
  font-family: 'Alexandria';
}
.me_container {
  max-width: 800px;
  margin: auto;
}

.me_container_xs {
  width: 50%;
  padding: 60px 5px;

}

li {
  list-style: none;
}
a{
  text-decoration: none;
}

.text_grey {
  color: var(--chess-darker);
}

.bg_accent{
  background-color: var(--chess-accent);
}
.text_accent{
  color: var(--chess-accent);
}